body {
  background-color: #c0f5c3;
  color: #047526;
  max-width: 950px;
  margin: 0 auto;
  font-family: "Myriad Pro", Helvetica, sans-serif;
}
  
footer {
  color: yellow;
  background-color: #047526;
  text-align: center;
  margin: 0px;
  border: 2px solid yellow; 
  border-radius: 15px;
  font-size: 1.5em;
}

footer a:hover {
    color: #047526;
    background-color: yellow;
}

footer a:active,
footer a:visited,
footer a:link
{
    color: yellow;
    background-color: #047526;
}
  
h2, h3, h4, h5, h6 {
  font-family: Rockwell, "Bernard MT", slab-serif;
  color: #047526;
}
  
h1 {
/*  font-family: Rockwell, "Bernard MT", slab-serif; */
  font-family: 'Holtwood One SC', serif;
  color: yellow;
  font-size: 50px;
  text-align: center;
  background-color: #047526;
  margin: 0px;
  padding: 20px;
  border: 2px solid yellow; 
  border-radius: 15px;
}
  
h2 {
  font-size: 30px;
  border-bottom: 5px double;
  margin: 25px;
}
  
main {
    margin: 10px 0 0 0;
}

nav li {
  font-size: 1.5em;
  margin: 0 0 0 25px;
}
  
nav a:hover {
  color: #047526;
  background-color: yellow;
}
  
.placeholder {
    margin: 25px;
}
  
#myphoto{
    width: 20%;
    float: right;
    display: inline-block;
    margin: 15px;
}
  
@media screen and (max-width: 550px) { 
/* beginning of media query */
  footer {
    font-size: .6em;
  }
 
  h1 {
    font-size: 30px;
  }
    
  h2 {
    font-size: 20px;
  }

  nav li {
    font-size: .75em;
  }  
     
  /* end of media query */ 
} 
  