/********   General   **********/
html {
  background-color: #91F5F9;
}

body {
  max-width: 940px;
  margin: 0 auto;
  background-color: #dfbcfc;
  padding: 1em;
  font-family: 'Alegreya Sans', sans-serif;  color: purple;
  border-radius: 0;
}

p {
  font-family: 'Alegreya Sans', sans-serif;  color: purple;
  padding: 1em;
  font-size: 1.2em;
}

h1 {
  margin: 0;
  font-family: 'Noto Serif', serif;
  color: white;
}  

h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
  color: purple;
}

h3 {
  margin: 0;
  justify-content: center;
  color: #300455;
}

h6 {
  margin: 0;
}

section {
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 0;
  padding: 5px;
}

/*******  Header  ********/
header {
  margin: 5px;
  padding: 1em;
  text-align: left;
  background-color: purple;
}

header h2 {
  margin: 0;
  font-size: .8em;
  color: white;
}

header div {
  color: white;
}

#headergrid {
  display: grid;
  grid-template-columns: repeat(36, 1fr);
  grid-template-rows: auto auto;
}

#headergrid a {
  grid-column: 1 / 9;
  grid-row: 1 / 2;
  padding: 2px;
}

#headerbottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: purple;
}

#headercity {
  padding: 5px;
  grid-column: 9/30;
  grid-row: 1/2;
}

#headerlinks {
  grid-column: 30/37;
  grid-row: 1/2;
  display:flex;
  flex-direction: row;
  justify-content: right;
}

#headernav {
  display: grid;
}

#headernav.open {
  width: 6em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#chamberdate {
  padding: 3px;
  font-size: .8em;
  color: white;
}

#linkedin {
  border-radius: 50%;
}
 
.logo {
  border: 2px solid purple; 
  width: 85%;
  border-radius: 50%;
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;
}

#facebook {
  border-radius: 60%;
}

/******** Navigation **********/
nav {
  line-height: 1em;
  text-align: right;
  font-family: 'Noto Serif', serif;
  background-color: Purple;
}

nav button {
  margin: 0;
  background: transparent;
  border: none;
  font-size: 1em;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0;
  margin: 0;
}

nav li {
  text-align: center;
  font-size: .8em;
  padding: 2px;
  margin: 0;
  border: 2px solid #dfbcfc; 
}

nav a {
  padding: .2em;
  text-decoration: none;
  margin: 0;
  display: block;
}

nav a:link, nav a:visited {
  color: white;
}

nav a:hover {
  color: purple;
  background-color: white;
  margin: 0;
}

nav a.active {
  color: purple;
  background-color: #dfbcfc;
}

#primaryNav {
  display: none;
}

#primaryNav.open {
  display: block;
  grid-column: 1/6;
  grid-row: 2/6;
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
  color: white;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn.open {
  grid-column: 5/6;
}

#hamburgerBtn.open span:nth-child(2) {
  display: block;
  color: white;
  font-family: sans-serif;
}

/********* main  ********/
main {
  display: flex;
  flex-direction: column;
}

main div {
  display: flex;
  flex-direction: column;
}

main section {
  margin: 2px;
  display: flex;
  flex-direction: column;
}

main p {
  margin: 0;
  padding: 1em;
}

main span p {
  padding-top: 0;
}

/*********  Footer  *************/
footer {
  font-size: .9em;
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer p {
  text-align: center;
  color: white;
  margin: 0;
  padding: .5em;
}

footer h1, footer h2, footer h3, footer h6 {
  color: white;
  text-align: center;
  margin: 0;
  padding: 3px;
}

footer a {
  color: white;
}

#footercity {
  display:block;
  color: white;
}

#footerlogo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#footerlogo a {
  grid-column: 3/4;
  grid-row: 1/2;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footerlogo a img {
  width: 75%;
  border-radius: 50%;
  padding: 5px;
}

/*          Home             */
#banner {
  background-color: #91F5F9;
  color: purple;
  border: 1px solid purple;
  font-size: 1em;
}

#gotojoin a,
#call2action a {
  text-decoration: none;
}

#gotojoin a:link,
#call2action a:link,
#gotojoin a:visited,
#call2action a:visited {
  color: white;
}

#gotojoin a:hover,
#call2action a:hover {
  color: purple;
  background-color: white;
}

#call2action {
  margin: 0;
  padding: 15px;
  border-radius: 5%;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  color: #dfbcfc;
  background-color: purple;
  border: 1px solid #dfbcfc;
  font-size: 5vw;
}

#hero {
  grid-row: 1/2;
  position: relative;
}

#hero h6 {
  display: none;
}

#heroimage {
  width: 100%;
}

#heroimage2 {
  display: none;
}

#hero img {
  border: 3px solid purple;
}

#event {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#news {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#spotlight h6 {
  display: none; 
}

.biz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.biz img {
  justify-self: center;
  width: 50%;
  margin-top: 3px;
}

.biz p {
  padding: .1em;
}

#spotlight3 {
  display: none;
}

#join {
  display: none;
}

#join h6 {
  display: none;
}

#weather {
  display: grid;
  grid-template-columns: repeat(36, 1fr);
}

#weather h3 {
  grid-column: 1/18;
  grid-row: 1/2;
}

#weather #temp{
  font-size: 5rem;
  grid-column: 3/19;
  grid-row: 2/7;
  padding: 0;
}

#weatherdesc {
  grid-column: 20/36;
  grid-row: 5/6;
  justify-self: center;
  padding: 0;
}

#weathericon {
  width: 100%;
  grid-column: 20/36;
  grid-row: 1/6;
}

/*#raindropimage {
  grid-column: 3/6;
  grid-row: 6/7;
  width: 1rem;
  height: 1rem;  
}

#rainpct{
  grid-column: 5/13;
  grid-row: 6/7;
  padding: 0;
}*/

#chill {
  grid-column: 1/37;
  grid-row: 6/9;  
  justify-self: center;
}

#chill p {
  margin: 0;
  padding: 0;
}

/*         join              */
form fieldset {
  margin: 2rem 0;
  border: 1px solid #300455;
  border-radius: 10px;
  padding: .5rem 2%;
}

form legend {
  color: #300455;
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: purple;
  font-size: .8rem;
}

form label.top input,
form label.top textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px purple;
  border-radius: 4px;
  padding: .75rem;
  color: purple;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: .5rem 0;
  color: purple;
}

form input.submitBtn {
  border: none;
  background-color: purple;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 12rem;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

/*          discover          */
#discover-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 0 0;
}

#discover-images img {
  width: 300px;
  border: 3px solid purple;
}

#discover-images p {
  width: 100%;
  max-width: 400px;
}

#lastvisit {
  text-align: center;
}

/**********  Directory  ************/
#view img {
  width: 100px;
}

#view {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#view button {
  background-color: #dfbcfc;
  margin: 0;
  padding: 0;
  border: none;
}

#view button img {
  width: 100%;
  border:2px solid #300455;
}

#cardviewBtn span:nth-child(1) {
  display: block;
}

#cardviewBtn span:nth-child(2) {
  display: none;
}

#cardviewBtn.open span:nth-child(1) {
  display: none;
}

#cardviewBtn.open span:nth-child(2) {
  display: block;
}
/*
#listviewBtn span:nth-child(1) {
  display: block;
}

#listviewBtn span:nth-child(2) {
  display: none;
}

#listviewBtn.open span:nth-child(1) {
  display: none;
}

#listviewBtn.open span:nth-child(2) {
  display: block;
} */

#bizdir section {
  align-items: center;
  margin: 3px;
  box-shadow: 2px 2px #300455;
}

#bizdir h3 {
  align-self: center;
}

#bizdir.open section {
  align-items: flex-start;
  border: none;
  box-shadow: none;
  margin: 0;
}

#bizdir p {
  margin: 0;
  padding: 2px;
  align-self: center;
}

#bizdir.open p {
  margin: 0;
  padding: 0;
}

#bizdir img {
  height: 80px;
  display: block;
}

#bizdir.open img {
  display: none;
}

#bizdir.open section:nth-child(even) {
  background-color: #f5ebfd;
}

#bizdir.open section:nth-child(odd) {
  background-color: white;
}

#bizdir section p:nth-child(4) {
  display: none;
}

#bizdir.open section p:nth-child(4) {
  display: none;
}

/**********  Contact  ************/
p.contact {
  padding: 0;
}

#contactAddr,
#contactPhone,
#contactEmail {
  margin: 15px;
}

#contactField {
  margin-top: 15px;
  margin-bottom: 15px;
}


