@media screen and (min-width: 62em) { 

  footer {
      font-size: 1.3em;
  }

  header, footer {
    border-radius: 15px;
  }
 
  h1 {
    font-size: 60px;
  }
    
  h2 {
    font-size: 30px;
  }

  main {
    grid-template-columns: repeat(36, 1fr);
    grid-template-rows: repeat(13, 1fr);
  }

  nav li {
    font-size: 1em;
  } 

  nav ul#primaryNav {
    display: flex;
    flex-direction: row;
  }
  
  nav button {display: none;}



  #myphoto{
    float: right;
    box-shadow: 0 0 30px #444;
    border-radius: 0 10px 0 0;
  }

  .logo {
    width: 33%;
  }  

  #hero {
    grid-column: 9 / 27;
    grid-row: 1 / 8;  
  }

  #heroimage {
    display: none;
  }
  
  #heroimage2 {
    display: block;
    width: 100%;
  }  

  #news {
    grid-column: 9 / 27;
    grid-row: 8 / 14;  
  }

  #weather {
    height: 150px;
    grid-column: 1 / 9;
    grid-row: 6 / 10;  
  }

  #event {
    width: 230px;
    grid-column: 1 / 9;
    grid-row: 1 / 6;  
  }

  #join {
    width: 230px;
    grid-column: 1 / 9;
    grid-row: 10 / 14;  
  }

  #spotlight p  {
    font-size: .7em;
  }

  #spotlight {
    grid-column: 27 / 37;
    grid-row: 1 / 14; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
  }

  #spotlight1 {
    width: 215px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;  
  }

  #spotlight2 {
    width: 215px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;  
  }

  #spotlight3 {
    width: 215px;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-column: 1 / 2;
    grid-row: 3 / 4;  
  }

} 
  