@media screen and (min-width: 37em) {         /* 32.5em) { */ 

  footer {
      font-size: 1.1em;
  }

  header, footer {
    border-radius: 15px;
  }
 
  h1 {
    font-size: 50px;
  }
    
  h2 {
    font-size: 30px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(36, 1fr);
    grid-template-rows: repeat(9, auto);
  }

  nav li {
    font-size: 1.3em;
  } 

  #banner {
    grid-column: 1 / 37;  
    grid-row: 1 / 2;   
    font-size: 1.5em;
  }

  #call2action {
    font-size: 2em ;
  }

  #hero {
    grid-column: 1 / 37;
    grid-row: 2 / 4;  
  }

  #news {
    grid-column: 1 / 37;
    grid-row: 4 / 6;  
  }

  #weather {
    grid-column: 25 / 37;
    grid-row: 12 / 15;  
  }

  #event {
    grid-column: 1 / 25;
    grid-row: 12 / 15;  
  }

  #join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1 / 37;
    grid-row: 9 / 12;  
  }

  #join p {
    text-align: center;
  }

  #join button {
    justify-self: center;
    border-radius: 5%;
    color: #CA91F9;
    background-color: purple;;
    border: 1px solid #CA91F9;
    font-size: 5vw;
  }

  #spotlight {
    display: grid;
    grid-column: 1 / 37;
    grid-row: 6 / 9; 
    grid-template-columns: repeat(36, 1fr); 
  }

  #spotlight1 {
    grid-column: 1 / 18;
  }

  #spotlight2 {
    grid-column: 18 / 37;
  }

  .logo {
    width: 33%;
  }  

  #headerdate {
    grid-column: 4/11;
    grid-row: 3/4;
    padding-left: 5px;
  }  

  #weather #temp{
    font-size: 2.5em;

  }
  

} 
  