@media screen and (min-width: 37em) {         /* 32.5em) { */ 

  footer {
      font-size: 1.1em;
  }

  header, footer {
    border-radius: 15px;
  }
 
  h1 {
    font-size: 50px;
  }
    
  h2 {
    font-size: 30px;
  }

  main {
    grid-template-columns: repeat(36 1fr);
    grid-template-rows: repeat(15, 1fr);
  }

  nav li {
    font-size: 1.3em;
  } 

  #hero {
    height: 150px;
    grid-column: 1 / 37;
    grid-row: 1 / 4;  
  }

  #news {
    height: 150px;
    grid-column: 1 / 37;
    grid-row: 4 / 7;  
  }

  #weather {
    height: 150px;
    grid-column: 25 / 37;
    grid-row: 13 / 16;  
  }

  #event {
    height: 150px;
    grid-column: 1 / 25;
    grid-row: 13 / 16;  
  }

  #join {
    height: 150px;
    display: block;
    grid-column: 1 / 37;
    grid-row: 10 / 13;  
  }

  #spotlight {
    height: 150px;
    grid-column: 1 / 37;
    grid-row: 7 / 10; 
    grid-template-columns: repeat(36, 1fr); 
  }

  #spotlight1 {
    height: 135px;
    grid-column: 1 / 18;
  }

  #spotlight2 {
    height: 135px;
    grid-column: 18 / 37;
  }

  .logo {
    width: 33%;
  }  

  #headerdate {
    grid-column: 4/11;
    grid-row: 3/4;
    padding-left: 5px;
  }  

} 
  