html {
  background-color: #806640;
}

body {
  max-width: 940px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
  font-family: 'Alegreya Sans', sans-serif;  color: black;
  border-radius: 0;
}

h1 {
  margin: 0;
  font-family: 'Noto Serif', serif;
  color: white;
}  

h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
  color: black;
}

h6 {
  margin: 0;
}

header {
  margin: 5px;
  padding: 1em;
  text-align: left;
  background-color: black;
  font-size: .7m;
}

header h2 {
  margin: 0;
  font-size: .8em;
  color: white;
}

header div {
  color: white;
}

nav {
  line-height: 1.5em;
  text-align: right;
  font-size: 1.2em;
  font-family: 'Noto Serif', serif;
  background-color: yellow;
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

main section {
  margin: 2px;
}

nav button {
  /* margin: .2rem 2vw; */
  margin: 0;
  background: transparent;
  border: none;
  font-size: 1em;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0;
  margin: 0;
}

nav li {
  text-align: center;
  font-size: 1em;
}

nav a {
  padding: .2em;
  text-decoration: none;
  margin: 0;
  display: block;
}

nav a:link, nav a:visited {
  color: #806640;
}

nav a:hover {
  color: yellow;
  background-color: #806640;
  margin: 0;
}

p {
  font-family: 'Alegreya Sans', sans-serif;  color: black;
  padding: 1em;
  font-size: 1.2em;
}

footer {
  font-size: .9em;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer p {
  text-align: center;
  color: white;
  margin: 0;
  padding: .5em;
}

footer h1, footer h2, footer h3, footer h6, footer img {
  color: white;
  text-align: center;
  margin: 0;
  padding: 3px;
}

footer a {
  color: white;
}

section {
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 0;
  padding: 5px;
}

#logo {
  border: 2px solid black; 
  width: 100%;
  grid-column: 1 / 12;
  grid-row: 1 / 4;
}

#facebook {
  width: 100%;
  border-radius: 50%;
}

#footercity {
  display:block;
  color:yellow;
}

#footerlogo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#footerlogo img {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
}

#headergrid {
  display: grid;
  grid-template-columns: repeat(36, 1fr);
  grid-template-rows: auto auto auto auto;
}

#headerbottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: yellow;
}

#headercity {
  padding: 5px;
  grid-column: 12/30;
  grid-row: 1/3;
}

#headerlinks {
  grid-column: 30/37;
  grid-row: 1/3;
  display:flex;
  flex-direction: row;
  justify-content: right;
}
/*
#headerlinks.open {
  grid-column: 25/37;
  grid-row: 1/3;
  display:flex;
  flex-direction: row;
  justify-content: right;
} */

#headerdate {
  grid-column: 1/25;
  grid-row: 3/4;
}

#headerdate.open {
  grid-column: 1/20;
  grid-row: 3/4;
}

#headernav {
  display: grid;
}

#headernav.open {
  width: 6em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#chamberdate {
  font-size: .8em;
  color: #806640;
}

#linkedin {
  width: 100%;
  border-radius: 50%;
}

#spotlight {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 300px;
}

#spotlight3 {
  display: none;
}

#join {
  display: none;
}

#spotlight h6 {
  display: none;
}

#spotlight section h6 {
  display: block;
}

#primaryNav {
  display: none;
}

#primaryNav.open {
  display: block;
  grid-column: 1/6;
  grid-row: 2/6;
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;

}


#hamburgerBtn span:nth-child(1) {
  display: block;
  color: #806640;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display: block;
  grid-column: 1/5;
  color: #806640;
}