@media screen and (min-width: 37em) {         /* 32.5em) { */ 

  footer {
      font-size: 1.1em;
  }

  header, footer {
    border-radius: 15px;
  }
 
  h1 {
    font-size: 50px;
  }
    
  h2 {
    font-size: 30px;
  }

  main {
    grid-template-columns: 1fr 1fr;
  }

  nav ul {
    flex-direction: row;
  }
  
  nav li {
    font-size: 1.3em;
  } 

  section {
    border-radius: 15px;
  }

  

} 
  