html {
  background-color: #91F5F9;
}

body {
  max-width: 940px;
  margin: 0 auto;
  background-color: #CA91F9;
  padding: 1em;
  font-family: 'Alegreya Sans', sans-serif;  color: purple;
}

h1 {
  margin: 0;
  font-family: 'Noto Serif', serif;
  color: white;
}  

h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
  color: purple;
}

header {
  padding: 1em;
  text-align: center;
  background-color: purple;
}

header h2 {
  color: #CA91F9;
}

nav {
  background-color: purple;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Noto Serif', serif;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

nav a {
  padding:1em;
  text-decoration: none;
/*  min-width: 70px; */
}

nav a:link, nav a:visited {
  color: white;
}

nav a:hover {
  color: purple;
  background-color: #CA91F9;
}

p {
  font-family: 'Alegreya Sans', sans-serif;  color: purple;
  padding: 1em;
  font-size: 1.2em;
}

footer {
  font-size: .9em;
  background-color: purple;
}

footer p {
  text-align: center;
  color: white;
  margin: 0;
  padding: .5em;
}

footer a {
  color: white;
}

.logo {
  width: 50%;
  border: 2px solid purple; 
  border-radius: 50%;
}

.person {
  width: 20%;
  border: 2px solid black; 
  border-radius: 5%;
  float: left;
  margin: 0 25px 25px 0;
}

#persona1 {
  margin: 15px;
  float: left;
}

#persona2 {
  margin: 15px;
  clear: left;
}

#scenarios {
  clear: left;
}

.lightblue {
  background-color: #91F5F9;
}

.lightblue h2, 
.lightblue p 
{
  color: purple;
}

.white {
  background-color: white;
}

.white h2,
.white p
{
  color: purple;
}

.purple {
  background-color: purple;
  color: white;
}

.purple h2,
.purple p
{
  color: white;
}

.lightpurple {
  background-color: #CA91F9;
}

.lightpurple h2,
.lightpurple p
{
  color: purple;
}

