html {
  background-color: #806640;
}

body {
  max-width: 940px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}

h1 {
  margin: 0;
  font-family: 'Noto Serif', serif;
  color: white;
}  

h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
  color: black;
}

header {
  padding: 1em;
  text-align: center;
  background-color: black;
}

header h2 {
  color: white;
}

nav {
  background-color: yellow;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Noto Serif', serif;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

nav a {
  padding:1em;
  text-decoration: none;
/*  min-width: 70px; */
}

nav a:link, nav a:visited {
  color: black;
}

nav a:hover {
  color: yellow;
  background-color: #806640;
}

p {
  font-family: 'Alegreya Sans', sans-serif;  color: black;
  padding: 1em;
  font-size: 1.2em;
}

footer {
  font-size: .9em;
  background-color: black;
}

footer p {
  text-align: center;
  color: white;
  margin: 0;
  padding: .5em;
}

footer a {
  color: white;
}

.logo {
  width: 50%;
  border: 2px solid black; 
  border-radius: 50%;
}

.brown {
  background-color: #806640;
}

.brown h2, 
.brown p 
{
  color: yellow;
}

.white {
  background-color: white;
}

.white h2,
.white p
{
  color: black;
}

.black {
  background-color: black;
  color: white;
}

.black h2,
.black p
{
  color: white;
}

.yellow {
  background-color: yellow;
}

.yellow h2,
.yellow p
{
  color: #806640;
}

