@media screen and (min-width: 600px) {         /* 32.5em) { */ 

/********   General   **********/
h1 {
  font-size: 2em;
}

/********   Header   **********/
header, footer {
  border-radius: 5px;
}
 
header h2 {
  font-size: 1.5em;
}

#headerdate {
  font-size: 1em;
} 

#headernav.open {
  width: 8em;
}

#headerdate {
  grid-column: 1/15;
}

nav li {
  font-size: 1em;
} 

#hamburgerBtn span:nth-child(1) {
  font-size: 1.7em;
}

#hamburgerBtn.open span:nth-child(2) {
  font-size: 1.7em;
}  

/********   Main   **********/
main {
  display: grid;
  grid-template-columns: repeat(36, 1fr);
  grid-template-rows: repeat(9, auto);
}

main h2 {
  grid-column: 1 / 37;
  grid-row: 1 / 2;   
}

main form {
  grid-column: 1 / 37;
  grid-row: 2 / 10;   
}

/********   Footer   **********/
footer {
  font-size: 1.1em;
}

footer p {
  font-size: .7em;
}

/********   Home   **********/
#banner {
  grid-column: 1 / 37;  
  grid-row: 1 / 2;   
  font-size: 1.5em;
}

#call2action {
  font-size: 1.5em ;
}

#maintemple {
  grid-column: 1/37;
  grid-row: 1 /2;
}

#templeimg3 {
  grid-column: 1 / 18;
  grid-row: 2/3;
}

#templeimg2 {
  grid-column: 19 / 37;
  grid-row: 2/3;
}

#templeimg1 {
  grid-column: 1 / 18;
  grid-row: 3/4;
}

#weather {
  grid-column: 19 / 37;
  grid-row: 3 / 4;  
}

#templehighlight {
  grid-column: 1/37;
  grid-row: 4/5;
  display: flex;
  flex-direction: row;
}

#templesummary {
  grid-column: 1/37;
  grid-row: 5/6;
}

#weather #temp{
  font-size: 2.5em;
}

#weathericon {
  width: 100%;
  grid-column: 19/36;
  grid-row: 1/6;
}

.smallhidden {
  display: block;
}

#home img {
  width: 100%;
}

/******  Temple  ********/
#templelist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / 37;
  grid-row: 3 / 10;
} 

#templelist section {
  width: 95%;
}

#templelist section:nth-child(1) {
  grid-column: 1/2 ;
}

#templelist section:nth-child(2) {
  grid-column: 2/3 ;
}

#templelist img {
  width: 85%;
  display: block;
}

#templelist fieldset {
  width: 85%;
  margin-bottom: 5px;
}



/****** Services   ******/

.services {
  grid-column: 1/37;
}


/******  Missionary   ******/

#missionary div:nth-child(2) {
  grid-column: 1/37;
}

#missionary div:nth-child(3) {
  grid-column: 1/19;
}

#missionary div:nth-child(4) {
  grid-column: 19/37;
}

.suiteshowmed {
  display: block;
}

#suitephotos img {
  width: 32%;
}

.hover-img {
  transition: transform 2s ease-in-out; 
}
  
.hover-img:hover {
  transform: scale(1.5);
}

/****** Reception   ******/

#reception h2:nth-child(1) {
  grid-column: 1/37;
}

#reception div:nth-child(2) {
  grid-column: 1/37;
}

#reception h3:nth-child(3) {
  grid-column: 1/37;
}

#reception div:nth-child(4) {
  grid-column: 1/19;
}

#reception div:nth-child(5) {
  grid-column: 19/37;
}

.receptshowmed {
  display: block;
}

#receptphotos img {
  width: 32%;
}





  
/********   Contact   **********/
#contactInfo1 {
  grid-column: 1 / 18;
  grid-row: 1 / 7;  
  /* font-size: 2em;  */
}

#contactInfo2 {
  grid-column: 19 / 37;
  grid-row: 3 / 7;  
  /* font-size: 2em;  */
}

#contactForm {
  grid-column: 1 / 37;
  grid-row: 7 / 17;   
  display: grid;
  grid-column: 1 / 37;
}

}
